## Importar librerias

In [1]:
import janitor
import matplotlib.pyplot as plt
import missingno
import numpy as np
import pandas as pd
import pyreadr
import seaborn as sns
import session_info
import upsetplot

/home/arnol/Documents/study/manejo_datos_faltantes/.venv/lib/python3.10/site-packages/upsetplot/data.py:4: DeprecationWarning: The distutils package is deprecated and slated for removal in Python 3.12. Use setuptools or check PEP 632 for potential alternatives
  from distutils.version import LooseVersion

## Configurar el aspecto general de las gr√°ficas

In [2]:
%matplotlib inline

sns.set(
    rc={
        "figure.figsize": (10, 10)
    }
)

sns.set_style("whitegrid")

## Operar con valores faltantes

### Python

In [3]:
print(
    None or True,
    None or False,
    None == None,
    None is None,
    # None + True, # Error
    # None / False, # Error
    type(None),
    sep="\n"
)

True
False
True
True
<class 'NoneType'>

### Numpy

In [4]:
print(
    np.nan or True,
    np.nan or False,
    np.nan == np.nan,
    np.nan is np.nan,
    np.nan / 2,
    np.nan * 7,
    type(np.nan),
    np.isnan(np.nan),
    sep="\n"
)

nan
nan
False
True
nan
nan
<class 'float'>
True

### Pandas

In [5]:
test_missing_df = pd.DataFrame.from_dict(
    data=dict(
        x=[0, 1, np.nan, np.nan, None],
        y=[0, 1, pd.NA, np.nan, None]
    )
)

test_missing_df

     x     y
0  0.0     0
1  1.0     1
2  NaN  <NA>
3  NaN   NaN
4  NaN  None

In [6]:
# preguntar si hay valores faltantes en un dataframe
test_missing_df.isna()

       x      y
0  False  False
1  False  False
2   True   True
3   True   True
4   True   True

In [7]:
test_missing_df.isnull()

       x      y
0  False  False
1  False  False
2   True   True
3   True   True
4   True   True

In [8]:
test_missing_df.x.isnull()

0    False
1    False
2     True
3     True
4     True
Name: x, dtype: bool

In [9]:
pd.Series([1, np.nan])

0    1.0
1    NaN
dtype: float64

In [10]:
pd.Series([pd.to_datetime("2022-01-01"), np.nan])

0   2022-01-01
1          NaT
dtype: datetime64[ns]

In [11]:
pd.Series([-1]).isnull()

0    False
dtype: bool